@use 'sass:color';
@use 'styles/utils/colors' as *;

button {
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  min-width: 128px;
  transition: all 0.2s ease;

  &.btn-primary {
    color: $color-text-primary;
    background-color: $color-primary;

    &:hover:not([disabled]) {
      background-color: color.adjust($color-primary, $lightness: -5%);
    }

    &:active:not([disabled]) {
      background-color: color.adjust($color-primary, $lightness: -8%);
    }
  }

  &.btn-secondary {
    color: $color-secondary;
    background-color: $color-text-primary;

    &:hover:not([disabled]) {
      background-color: color.adjust($color-text-primary, $lightness: -10%);
    }

    &:active:not([disabled]) {
      background-color: color.adjust($color-text-primary, $lightness: -20%);
    }
  }

  &[disabled] {
    cursor: not-allowed;
    box-shadow: none;
    background-color: $color-grey;
    color: $color-white;
    font-weight: 400;
  }
}
