input[type='number'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input[type='date'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
    opacity: 1;
  }
}
