nav {
  background-color: var(--color-surface);
}

ul {
  list-style-type: none;
}

a {
  border-radius: 0.5rem;
  transition: color 0.3s ease;

  &:hover,
  &.active {
    background-color: var(--color-secondary);
    color: var(--color-text);
  }
}
