@use 'utils/breakpoints' as bp;
@use 'utils/colors' as *;

.toggle-btn {
  position: absolute;
  background-color: $color-surface;
  opacity: 50%;
  border-radius: 3rem;
  z-index: 1000;
  top: 1%;
  right: 2%;

  &:hover {
    opacity: 100%;
  }
}

nav {
  position: fixed;
  z-index: 999;
  background-color: $color-surface;
  transition: transform 0.4s ease-in-out;
  transform: translateX(-100%);

  &.visible-mobile {
    transform: translateX(0);
  }

  .title {
    font-family: 'Abril Fatface', sans-serif;
  }

  @include bp.respond-min(sm) {
    position: relative;
    transform: translateX(0);
    width: 6rem;
    transition: width 0.3s ease;

    &.expanded {
      width: 16rem;
    }
  }

  header {
    position: relative;
    border-bottom: 1px solid $color-text-medium;

    .expansion-btn {
      position: absolute;
      background-color: $color-surface;
      border-radius: 50%;
      top: 37%;
      right: -32px;
      height: 32px;
      width: 32px;
      transform: translateY(-50%);
      z-index: 999;
    }
  }
}

ul {
  list-style-type: none;
}

a {
  border-radius: 0.5rem;
  transition: color 0.3s ease;

  &:hover,
  &.active {
    background-color: $color-primary;
    color: $color-text;
  }
}
