.form-control {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
  }

  &::-moz-color-swatch {
    border: none;
    border-radius: 50%;
  }
}
