// Import tokens if needed
@use 'sass:map';
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Inter', sans-serif;

  /* Scroll Style*/
  scrollbar-color: rgba(100, 100, 100, 0.4) transparent;
  scrollbar-width: thin;

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.4);
    border-radius: 3px;
  }
}

// Body
body {
  overflow-x: hidden;
  background-color: var(--color-bg);
  color: var(--color-text);
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
  color: var(--color-text);
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.875rem;
}

// Links
a {
  color: var(--color-text);
  text-decoration: none;

  &:hover {
    color: var(--color-medium);
  }
}

// Buttons
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--color-text);
}
