<app-card>
  <h2 class="text-xl mb-2">Transações Recentes</h2>

  <div class="overflow-x-auto">
    <table>
      <tr>
        <th></th>
        <th>Nome</th>
        <th>Valor</th>
        <th>Data</th>
        <th>Categoria</th>
        <th>Conta</th>
      </tr>
      @for (row of rows; track row.name) {
        <tr>
          <td>
            <fa-icon
              [icon]="
                row.type === transactionType.INCOME ? iconIncome : iconExpense
              "
              [ngClass]="
                row.type === transactionType.INCOME
                  ? 'iconIncome'
                  : 'iconExpense'
              ">
            </fa-icon>
          </td>
          <td>{{ row.name }}</td>
          <td>{{ row.amount | currency: 'BRL' }}</td>
          <td>{{ row.date }}</td>
          <td>
            <app-badge
              [text]="row.category.name"
              [color]="row.category.color"></app-badge>
          </td>
          <td>
            <app-badge
              [text]="
                row.account.name +
                ' - ' +
                (row.paymentMethod | enumLabel: paymentMethodLabels)
              "
              [color]="row.account.color"></app-badge>
          </td>
        </tr>
      }
    </table>
    @if (isEmpty) {
      <div class="my-4">
        <app-empty-state
          [text]="'Você ainda não possui transações.'"></app-empty-state>
      </div>
    }
  </div>
</app-card>
