<app-shared-card>
  <h2 class="text-xl mb-2">Transações Recentes</h2>

  <table>
    <tr>
      <th></th>
      <th>Nome</th>
      <th>Valor</th>
      <th>Data</th>
      <th>Categoria</th>
      <th>Conta</th>
    </tr>
    @for (row of rows; track row.name) {
      <tr>
        <td>
          <fa-icon
            [icon]="row.isIncome ? iconIncome : iconExpense"
            [ngClass]="row.isIncome ? 'iconIncome' : 'iconExpense'"></fa-icon>
        </td>
        <td>{{ row.name }}</td>
        <td>{{ row.amount | currency: row.currency }}</td>
        <td>{{ row.date }}</td>
        <td>
          <app-shared-badge
            [text]="row.category.name"
            [color]="row.category.color"></app-shared-badge>
        </td>
        <td>
          <app-shared-badge
            [text]="row.account.name + ' - ' + row.paymentMethod"
            [color]="row.account.color"></app-shared-badge>
        </td>
      </tr>
    }
  </table>
</app-shared-card>
