@use 'utils/colors' as *;

h2 {
  color: $color-text-medium;
}

table {
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
}

th,
td {
  padding: 10px;
  border: 2px solid $color-surface-variant;
  white-space: nowrap;
  text-align: center;
}

th {
  font-weight: bold;
  color: $color-text-medium;
  border-top: none;
  border-left: none;
  border-right: none;
}

tr:not(:first-child) td {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid $color-surface-variant;
}

tr:last-child td {
  border-bottom: none;
}

tr:hover {
  background-color: $color-surface-variant;
}

.iconIncome {
  color: $color-success;
}

.iconExpense {
  color: $color-error;
}
