// Color palette
$color-primary: #0F5959;
$color-secondary: #1D7373;
$color-bg-primary: #042326;
$color-bg-secondary: #0A3A40; // #0F5959
$color-text-primary: #CACACA;
$color-text-secondary: #878787;
$color-success: #28a745;
$color-error: #dc3545;
$color-warning: #ffc107;
$color-info: #17a2b8;
$color-black: #000000;
$color-white: #ffffff;

// Background
.bg-primary {
  background-color: $color-bg-primary;
}

.bg-secondary {
  background-color: $color-bg-secondary;
}

// Text
.text-primary {
  color: $color-text-primary;
}

.text-secondary {
  color: $color-text-secondary;
}

// Border
.border-primary {
  border-color: $color-primary;
}

.border-secondary {
  border-color: $color-secondary;
}

// Others
.success {
  background-color: $color-success;
}

.error {
  background-color: $color-error;
}

.warning {
  background-color: $color-warning;
}

.info {
  background-color: $color-info;
}