@use 'utils/colors' as *;

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 999;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }
}

header {
  border-bottom: 0.5px solid $color-surface-variant;
}

aside {
  position: fixed;
  top: 0;
  right: 0;
  background-color: $color-surface;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;

  &.open {
    transform: translateX(0);
  }
}
