<div
  class="backdrop h-screen w-screen"
  [class.visible]="isOpen"
  tabindex="0"
  role="button"
  aria-label="Close drawer"
  (click)="close()"
  (keydown.enter)="close()"></div>

<aside
  class="flex flex-col h-screen w-full w-3/4-md w-1/2-lg max-w-140"
  [class.open]="isOpen">
  <header class="flex justify-between items-center gap-3 px-3 py-2">
    <ng-content select="drawer-header" />
    <app-shared-button [icon]="faXmark" (clicked)="close()">
      Fechar
    </app-shared-button>
  </header>

  <section class="overflow-y-auto p-3">
    <ng-content select="drawer-content" />
  </section>
</aside>
