<app-form-field
  [label]="label"
  [fieldId]="fieldId"
  [isInvalid]="isInvalid"
  [errorMessage]="errorMessage">
  <select
    class="form-control text-md px-3 py-2"
    [class]="classes"
    [class.placeholder-selected]="control.value === null"
    [id]="fieldId"
    [formControl]="control"
    [compareWith]="compareObjects">
    <option [ngValue]="null" disabled selected>{{ placeholder }}</option>
    @for (option of options; track $index) {
      <option [ngValue]="option">
        {{ resolveOptionLabel(option) }}
      </option>
    }
  </select>
</app-form-field>
