<div
  class="w-full h-screen flex flex-col items-center justify-center gap-4 px-4">
  <div class="w-full w-1/3-lg flex items-center justify-center">
    <fa-icon
      [icon]="faChevronLeft"
      class="icon"
      (click)="returnLoginClick()"></fa-icon>
    <span class="flex-1 title font-bold text-4xl text-center">BudgetLens</span>
  </div>
  <span class="font-bold text-2xl">Criar Conta</span>
  <div class="flex flex-col gap-3 w-full w-1/3-lg">
    <app-input
      [control]="authForm.controls.name"
      [formActive]="true"
      [label]="'Nome'"
      [placeholder]="'Insira seu nome'" />
    <app-input
      [control]="authForm.controls.email"
      [formActive]="true"
      [label]="'Email'"
      [placeholder]="'Insira seu email'" />
    <app-input
      [control]="authForm.controls.password"
      [formActive]="true"
      [type]="'password'"
      [label]="'Senha'"
      [placeholder]="'Insira sua senha'" />
  </div>
  <app-button [text]="'CRIAR CONTA'" (clicked)="register()" />
</div>
