<app-drawer [isOpen]="isOpen" (closed)="close()">
  <div ngProjectAs="drawer-header" class="flex flex-wrap gap-3">
    @if (transaction && !isEditing) {
      <app-button [icon]="faPen" (clicked)="edit()">Editar</app-button>
    } @else {
      <app-button
        [icon]="faCheck"
        [disabled]="!transactionForm.valid"
        (clicked)="submit()">
        Salvar
      </app-button>
      <app-button type="secondary" [icon]="faBan" (clicked)="cancel()">
        Cancelar
      </app-button>
    }
  </div>

  <form
    ngProjectAs="drawer-content"
    class="flex flex-col gap-3"
    [formGroup]="transactionForm">
    <app-input
      [control]="transactionForm.controls.name"
      [formActive]="isEditing"
      [label]="'Nome'"
      [placeholder]="'Nome'" />

    <app-input
      [control]="transactionForm.controls.amount"
      [formActive]="isEditing"
      [label]="'Valor'"
      [placeholder]="'Valor'"
      [mask]="'separator.2'"
      [prefix]="'R$ '" />

    <app-input
      [control]="transactionForm.controls.date"
      [formActive]="isEditing"
      [label]="'Data'"
      [placeholder]="'dd/mm/yyyy'"
      [type]="'date'" />

    <app-select
      [control]="transactionForm.controls.account"
      [formActive]="isEditing"
      [label]="'Conta'"
      [placeholder]="'Selecione uma conta'"
      [options]="accounts"
      [optionLabelKey]="'name'" />

    <app-select
      [control]="transactionForm.controls.paymentMethod"
      [formActive]="isEditing"
      [label]="'Método de Pagamento'"
      [placeholder]="'Selecione um método de pagamento'"
      [options]="paymentMethods" />

    <app-select
      [control]="transactionForm.controls.category"
      [formActive]="isEditing"
      [label]="'Categoria'"
      [placeholder]="'Categoria'"
      [options]="categories"
      [optionLabelKey]="'name'" />

    <app-select
      [control]="transactionForm.controls.isIncome"
      [formActive]="isEditing"
      [label]="'Tipo'"
      [placeholder]="'Tipo'" />
  </form>
</app-drawer>
